<!--
  templateType: blog_listing
  isAvailableForNewContent: true
  label: Boilerplate - blog listing
  screenshotPath: ../images/template-previews/blog-index.png
-->
{% set template_css = "../../css/templates/blog.css" %}
{% extends "./layouts/base.html" %}

{% block body %}
{% set is_author_listing = 'author/' in request.path %}

<div class="body-container body-container--blog-post">
{# Blog listings and pagination (custom cards matching related posts) #}
<section class="content-wrapper hy-blog-index__section">
  {% if is_author_listing %}
    {% set post_count = contents|length %}
    {% set author_name = "" %}
    {% if contents and contents|length > 0 and contents[0].blog_post_author %}
      {% set author_name = contents[0].blog_post_author.display_name %}
    {% endif %}
    <header class="hy-blog-index__header">
      <h1 class="hy-blog-index__title hy-uppercase">
        {{ post_count }} {{ post_count == 1 ? 'post' : 'posts' }}{% if author_name %} by {{ author_name|escape_html }}{% endif %}
      </h1>
    </header>
  {% else %}
    <header class="hy-blog-index__header">
      <h1 class="hy-blog-index__title hy-uppercase">Blog</h1>
    </header>
  {% endif %}
  <div class="hy-blog-related-posts__list">
    {% for post in contents %}
      <a href="{{ post.absolute_url|escape_url }}" class="hy-blog-related-posts__post" aria-label="Blog post summary: {{ post.name|escape_attr }}">
        {% if post.featured_image %}
          <div class="hy-blog-related-posts__post-image-wrapper">
            <img class="hy-blog-related-posts__image" src="{{ post.featured_image|escape_url }}" loading="lazy" width="352" alt="{{ post.featured_image_alt_text|escape_attr }}">
          </div>
        {% endif %}
        <div class="hy-blog-related-posts__content">
          <h3 class="hy-blog-related-posts__post-title">{{ post.name|escape }}</h3>
          <p class="hy-blog-related-posts__date">{{ post.publish_date|datetimeformat('%e %B %Y') }}</p>
          <span class="hy-button hy-button-purple">Read Article</span>
        </div>
      </a>
    {% endfor %}
  </div>
  {% module "blog_pagination" path="@hubspot/pagination" %}
</section>
</div>
{% endblock body %}
