<!--
  templateType: page
  isAvailableForNewContent: true
  label: Hiyield
  screenshotPath: ../images/template-previews/home.png
-->
{% set template_css = "../../css/templates/blog.css" %}
{% extends "./layouts/base.html" %}

{% block body %}
<div class="body-container body-container--blog-post">

  <div class="content-wrapper">
    <article class="hy-blog-post">
      {% module "blog_title" path="../modules/blog-title", label="Page Title", no_wrapper=True %}

      {% module "key_takeaways" path="../modules/key-takeaways", label="Key Takeaways", no_wrapper=True %}

      {# Meta section #}
      <div class="hy-blog-post__meta hy-prose-container">
        <div class="hy-author-date-container">
          {% if content.publish_date %}
          <time datetime="{{ content.publish_date }}" class="blog-post__timestamp"> 
            {{ content.publishDate|datetimeformat('%e %B %Y') }} 
          </time>
          {% endif %}
        </div>

        {% if content.url %}
        <div class="hy-share-container desktop">
          <span>Share:</span>
          <div class="hy-social-links">
            <a class="hy-social-links__link" href="https://www.facebook.com/sharer/sharer.php?u={{ content.url }}" target="_blank" rel="noopener">
              {% icon extra_classes="hy-social-links__icon", name="facebook", icon_set="fontawesome-6.4.2", purpose="semantic", style="SOLID", title="Facebook Icon", unique_in_loop=True %}
            </a>

            <a class="hy-social-links__link" href="https://x.com/intent/tweet?url={{ content.url }}" target="_blank" rel="noopener">
              {% icon extra_classes="hy-social-links__icon", name="x-twitter", icon_set="fontawesome-6.4.2", purpose="semantic", style="SOLID", title="X Icon", unique_in_loop=True %}
            </a>

            <a class="hy-social-links__link" href="https://www.linkedin.com/sharing/share-offsite/?url={{ content.url }}" target="_blank" rel="noopener">
              {% icon extra_classes="hy-social-links__icon", name="linkedin", icon_set="fontawesome-6.4.2", purpose="semantic", style="SOLID", title="LinkedIn Icon", unique_in_loop=True %}
            </a>
          </div>
        </div>
        {% endif %}

        <div class="hy-seperator"></div>
      </div>

      <div class="hy-blog-post__body hy-prose-container">
        {% dnd_area "page_body" label="Page content" %}
        {% end_dnd_area %}
      </div>

      {% if content.url %}
        <div class="hy-prose-container hy-share-container mobile">
          <span>Share this article:</span>
          <div class="hy-social-links">
            {% if content.title %}
            <a class="hy-social-links__link" href="https://www.facebook.com/sharer/sharer.php?u={{ content.url }}&t={{ content.title }}" target="_blank" rel="noopener">
              {% icon extra_classes="hy-social-links__icon", name="facebook", icon_set="fontawesome-6.4.2", purpose="semantic", style="SOLID", title="Facebook Icon", unique_in_loop=True %}
            </a>

            <a class="hy-social-links__link" href="https://x.com/intent/tweet?text={{ content.title }}&url={{ content.url }}" target="_blank" rel="noopener">
              {% icon extra_classes="hy-social-links__icon", name="x-twitter", icon_set="fontawesome-6.4.2", purpose="semantic", style="SOLID", title="X Icon", unique_in_loop=True %}
            </a>
            {% endif %}

            <a class="hy-social-links__link" href="https://www.linkedin.com/sharing/share-offsite/?url={{ content.url }}" target="_blank" rel="noopener">
              {% icon extra_classes="hy-social-links__icon", name="linkedin", icon_set="fontawesome-6.4.2", purpose="semantic", style="SOLID", title="LinkedIn Icon", unique_in_loop=True %}
            </a>
          </div>
        </div>
      {% endif %}
    </article>
  </div>

  <div class="hy-form-wrapper">
    <div div class="content-wrapper">
      <div class="hy-prose-container">
        {% module "home_form" path="@hubspot/form", label="Landing Page Form", no_wrapper=True %}
      </div>
    </div>
  </div>

  {% module "related_posts" path="../modules/related-posts-handpicked", label="Related Posts", no_wrapper=True %}

</div>
{% endblock body %}
