.hy-key-takeaways {
  width: 100%;
}

.hy-key-takeaways__single {
  width: 100%;
  max-width: 20.9375rem;
}

.hy-key-takeaways__rich {
  max-width: 27.9375rem;
  display: block !important;
}

.hy-key-takeaways p {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 568px) {
  .hy-key-takeaways__single {
    max-width: 100%;
  }

  .hy-key-takeaways__rich {
    max-width: 100%;
  }
}