<div class="two-col-block">
  {% if module.image_position %}
    <div class="two-col-block__image">
      {% if module.image.src %}
        <img src="{{ module.image.src }}" alt="{{ module.image.alt|escape }}" />
      {% endif %}
    </div>
    <div class="two-col-block__content">
      {{ module.content }}
    </div>
  {% else %}
    <div class="two-col-block__content">
      {{ module.content }}
    </div>
    <div class="two-col-block__image">
      {% if module.image.src %}
        <img src="{{ module.image.src }}" alt="{{ module.image.alt|escape }}" />
      {% endif %}
    </div>
  {% endif %}
</div>
