.two-col-block {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 2.625rem 0;
    align-items: flex-start;
}

.two-col-block__image,
.two-col-block__content {
    flex: 1;
}

.two-col-block__image {
    align-self: center;
}

.two-col-block__image img {
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 414 / 232;
    object-fit: cover;
}

@media (max-width: 768px) {
    .two-col-block {
        flex-direction: column;
    }

    .two-col-block__image {
        align-self: auto;
    }
}
