.content-wrapper {
  max-width: 84.375rem !important;
  width: 100%;
  margin: 0 auto;
}

.dnd-section > .row-fluid {
  margin: 0 auto;
}

.dnd-section .dnd-column {
  padding: 0 1rem;
}

@media (max-width: 1080px) {
  .dnd-section .dnd-column {
    padding: 0;
  }
}

.hy-prose-container {
  max-width: 53.875rem;
  margin: 0 auto;
}

@media screen and (max-width: 1350px) {
  .hy-prose-container {
    max-width: 1350px;
    margin: 0 7.5rem;
  }
}

@media screen and (max-width: 1080px) {
  .hy-prose-container {
    max-width: 1080px;
    margin: 0 3rem;
  }
}

@media screen and (max-width: 768px) {
  .hy-prose-container {
    max-width: 768px;
    margin: 0 1.5rem;
  }
}

