.content-wrapper {
  max-width: 1350px !important;
  width: 100%;
  margin: 0 auto;
}

.dnd-section > .row-fluid {
  margin: 0 auto;
}

.dnd-section .dnd-column {
  padding: 0 1rem;
}

@media (max-width: 1080px) {
  .dnd-section .dnd-column {
    padding: 0;
  }
}

.hy-prose-container {
  padding-left: 15.25rem;
  padding-right: 15.25rem;
}

@media screen and (max-width: 1350px) {
  .hy-prose-container {
    padding-left: 12.5rem;
    padding-right: 12.5rem;
  }
}

@media screen and (max-width: 1080px) {
  .hy-prose-container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .hy-prose-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

